$green: #2eb82e;

.item {
  border: 2px dashed #00b300;
  padding: 10px 10px 30px;
  position: relative;
}

.description {
  margin: 10px 0 0;
  font-size: 20px;
  color: #99b3ff;
}

@mixin button($size) {
  width: $size;
  height: $size;
  border: none;
  outline: none;
  font-size: calc($size / 1.6);
  background-color: $green;
  color: white;
  border-radius: 20%;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    font-size: calc($size / 1.45);
  }
}

.completeButton {
  @include button(34px);
  position: absolute;
  right: 20px;
  top: 10px;
}

.recordButton {
  @include button(32px);
}

.audioButtonsContainer {
  display: flex;
  gap: 10px;
  margin: 10px 0 0 7px;
}

.input {
  font-size: 26px;
  color: #004de6;
  border: none;
  outline: none;
  padding: 5px;
  border: 2px solid transparent;

  &:focus-visible {
    border: 2px dashed orange;
  }
}

.textarea {
  font-size: 18px;
  color: #80aaff;
  border: none;
  outline: none;
  padding: 7px 4px;
  width: calc(100% - 100px);
  border: 2px solid transparent;
  box-sizing: border-box;
  resize: none;

  &:focus-visible {
    border: 2px dashed orange;
  }
}
